body{
    background-color: rgba(2, 7, 34, 0.89) ;
}
table{
    margin-left:40% ;
    margin-top: 100px ;
    width: 500px ;

}
thead {
    text-align: center;
    background-color:rgb(14, 175, 187) ;
    font-size: 25px;
}
tr{
    height:50px ;
    font-family: arial;
}
tbody{
    font-size:25px ;
    color: rgb(14, 209, 118) ;
}
tbody tr:nth-child(odd){
    background-color:rgb(18, 88, 97) ;
}